<div class="container">

  <div class="row">

    <div class="col-8">
      <h3>Details</h3>
      <p>Name {{name}}</p>
      <p>Class {{class}}</p>
      <p>Expiration Date {{expirationdate}}</p>
      <p>Size {{size}}</p>
      <p>Buying Price {{buyingprice}}</p>
      <p>Selling Price {{sellingprice}}</p>
      <p>Quantity {{quantity}}</p>
    </div>
    
 {{!--    <div class="col-4">
      <h3>Author</h3>
      <img src="{{author.pictureUrl}}" alt="author-img">
      <p>{{author.name}} {{author.lastName}} ({{author.nationality}})</p>
    </div>
  </div --}}>

  <hr>
  <a href="/beverage/list">Go back to list</a>

</div>