 <div class="container">
  <h1>Beverages in the Bar </h1>
  <section id="beverage-container">
    {{#each beverages}}

    <div class="beverage-row">
      <a href="/beverages/details">{{this.name}}-{{type}}-{{size}}-{{quantity}}</a>
      <div class="action-links">
       <form action="/beverage/send-to-sold/{{this._id}}" method="POST"><button type="submit" class="btn btn-warning delete-button">Sold<span class="hide"></span></button></form>
    
    </div>
    </div>
    
    {{/each}}

  </section>
</div>

<a  href="/beverage/list"> Go back to the Stock </a> 


