
<div class="container">
  <h1>beverages list in the Stock</h1>
  <section id="beverage-container">
    {{#each beverages}}
    <div class="beverage-row">
      <a href="/beverage/details">{{this.name}}-{{type}}-{{expiration}}-{{size}}</a>
      <div class="action-links">

       {{!--  criar a funcao para esse button  enviar a bebida para o bar --}}
         <button type="submit" class="btn btn-warning delete-button">Send to the Bar <span class="hide"></span></button>

        {{#if ../isAdmin}}

        {{!-- arrumar o link de adit --}}
        <a href="/beverage/edit" class="btn btn-dark">Edit</a>
    
        <form action="/beverage/{{_id}}/delete" method="POST">
           <button>Delete</button>
        </form>
        {{/if}}

       
      </div>
    </div>
    {{/each}}
  </section>
</div>

<a  href="/beverage/create"> Create new Beverage</a>
    <br>
    <br>
<a  href="/beverage/bar"> Go to the Bar list </a>

{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}